@import "../../index.scss";

.OffersPatchGlobal {
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-right: 8rem;
    margin-left: 8rem;
}

.OffersPatchSlider { 
    width: 16rem;
}

.OffersPatchMobile {
    padding: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;}

.slide-controls {
    position: absolute;
    top: 1em ;
    left: 1em;
    z-index: 1;
    width: 100%
  }
  

.OffersPatchGreen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $myGreen;
    width: 16rem;
    height: 137,43px;
    color: white;
    padding: 8px;
}

.OffersPatchTurquoize {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $myTurquoize;
    width: 16rem;
    height: 137,43px;
    color: white;
    padding: 8px;
}

.OffersPatchPurple {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $myPurple;
    width: 16rem;
    height: 137,43px;
    color: white;
    padding: 8px;
}

.OffersPatchOrange {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $myOrange;
    width: 16rem;
    height: 137,43px;
    color: white;
    padding: 8px;
}

    .Lign {
        width: 4rem;
        border-bottom: 1px solid white;
        margin-bottom: 0.625rem;
        margin-left: 3px;
        margin-right: 5px; 
    }

    .OffersPatchLignOne {
        display: flex;
        justify-content: center;
        align-items: center;    
        font-weight: 300;
        font-size: 1.25rem;
        padding: 0.625rem;
    }

    .OffersPatchLignTwo {
        display: flex;
        justify-content: space-between;
    }

    .OffersPatchLignThree {
        display: flex;
        justify-content: center;
        align-items: center;           padding: 0.625rem;
        .OffersPatchLignThreePrice {
            font-size: 2.6875rem;
            font-weight: 500;
        }

    .OffersPatchLignThreePerMonths {
        margin-bottom: 10px;
        font-size: 20px;
    }
}

.OffersPatchtwo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
