@import "../../index.scss";

.Footerbackground {
    background-color: $myBlue;
    height: 9.0625rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet-phone {
        margin-top: 110px;
    }

    @include phone {
        margin-top: 110px;
    }

    .logo {
        height: 4,5rem;
    }
}